<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <!-- /index.html -> / -->
        <rule name="Remove index.html from root" stopProcessing="true">
          <match url="^index\.html$" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>

        <!-- /folder/index.html -> /folder/ -->
        <rule name="Remove index.html from folders" stopProcessing="true">
          <match url="^(.+)/index\.html$" />
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>

        <!-- /page.html -> /page/ -->
        <rule name="Remove .html extension" stopProcessing="true">
          <match url="^(.+)\.html$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>

        <!-- /page/ -> /page/index.html -->
        <rule name="Folder index rewrite" stopProcessing="true">
          <match url="^(.+)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{APPL_PHYSICAL_PATH}{R:1}\index.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}/index.html" />
        </rule>

        <!-- /page/ -> /page.html -->
        <rule name="Flat file rewrite" stopProcessing="true">
          <match url="^(.+)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{APPL_PHYSICAL_PATH}{R:1}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>

        <!-- Add trailing slash -->
        <rule name="Add trailing slash" stopProcessing="true">
          <match url="^([^/]+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="Redirect" url="{R:0}/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
